@media only screen and (min-width: 678px) and (max-width: 1199px) {
  body {
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
  }
  header .logo-large {
    width: 60%;
    /* padding: 1em; */
  }
  .section1 {
    background: #f0f0f0;
    margin: 0 auto;
    padding: 2em;
    font-weight: bold;
  }
  .circled_number {
    background-color: rgb(161, 80, 226);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    padding: 0.5em;
    color: white;
    margin-left: -2em;
    margin-right: 2em;
    font-weight: bold;
  }
  .cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* add shadow to card */
    /* adds background image */
    background-size: cover; /* covers the image to the whole container */
    background-repeat: no-repeat;
    width: calc(40% - 1em);
    height: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0;
    flex-direction: column-reverse;
  }
  .section3 .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1190px;
  }
  .card_content {
    width: calc(100% - 2em);
    background-color: white;
    padding: 1em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .fav,
  .fav-clear {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    cursor: pointer;
  }
  .fav {
    color: white;
  }
  .fav-clear {
    color: rgba(229, 226, 226);
  }
  .fav:hover,
  .fav-clear:hover {
    text-shadow: none;
    /* background-clip: text; */
    color: rgb(187, 25, 187);
  }
  .underlined {
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(50, 223, 179);
  }
  .new_label {
    background-color: rgb(43, 214, 197);
    color: rgb(7, 105, 100);
    border-radius: 2px;
    padding: 0.5em 1em;
    width: 40px;
    margin: 0.5em;
  }
  .location {
    background-color: #d0cfd1;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1em;
    border-top: 3px solid #b0acb4;
  }
  i {
    padding-right: 0.5em;
  }
  .book_menu {
    font-weight: 600;
    margin-top: 0;
    font-size: 1.5em;
  }
  h2 {
    text-align: justify;
  }

  .book {
    background-color: #e7e9ea;
    padding: 5em;
  }
  p {
    color: grey;
  }
  p.lighter {
    color: rgb(194, 192, 192);
  }
  .button1 {
    background-image: linear-gradient(
      to bottom right,
      rgb(240, 122, 240),
      rgb(110, 4, 110)
    );
    font-weight: bold;
    border-radius: 25px;
    padding: 0.75em 1.2em;
    color: white;
    border-width: 0;
    text-align: center;
    margin: 5em auto;
    /* width: 50%; */
    font-size: 15px;
    align-self: center;
  }
  .button1:active,
  .button1:link,
  .button1:visited,
  .button1:hover {
    text-decoration: none;
    color: white;
  }

  .section2 {
    background-color: white;
    padding: 2em 1.5em;
  }
  .section3 {
    background-color: rgb(235, 230, 230);
    padding: 2em 1em;
  }
  .section3 .cards {
    margin: 2em auto;
    cursor: pointer;
  }

  a .cards,
  a:link .cards,
  a:hover .cards,
  a:visited .cards {
    text-decoration: none;
    color: initial;
  }
  .button2 i {
    color: grey;
  }
  .button2 {
    background-color: whitesmoke;
    border-radius: 1em;
    padding: 1em;
    margin: 2em auto;
    width: calc(100% - 2em);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: lefts;
  }
  .button2:hover i {
    color: rgb(161, 80, 226);
  }
  .button2:hover {
    background-color: rgb(235, 220, 233);
  }
  .button3 {
    border-radius: 5%;
    background-color: white;
    text-align: justify;
    margin-bottom: 5em;
  }
  .button3 head {
    width: 100%;
    height: 220px;
  }
  .favorite_border {
    text-align: left;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgb(66, 65, 65);
    color: white;
    padding: 2em;
    width: calc(100% - 4em);
  }
  footer .footer-link {
    font-weight: bold;
    color: white;
    align-items: center;
    display: flex;
    padding-top: 0.5em;
  }
  footer svg {
    fill: white;
    padding-bottom: 1em;
    font-size: medium;
  }
  .w-title {
    color: white;
    padding: 5%;
  }
  .menu_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menu_heading h1 {
    font-style: italic;
  }
  .menu-items .check {
    background-color: rgb(17, 233, 215);
    display: none;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    width: 20%;
    margin: -1em;
    height: calc(100% + 2em);
    cursor: pointer;
  }
  .menu-items:hover .check {
    animation: stretchLeft 0.5s linear;
    display: flex;
  }
  .menu-items:hover .check i {
    animation: spin 0.5s linear;
  }
  .menu-items:not(:hover) .check {
    animation: shrinkRight 0.5s linear;
    /* display: none; */
  }
  .menu-items .heading {
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
  }
  .menu-items .subtitle {
    color: gray;
  }
  .menu-items .titles {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
  }
  .menu-items .price {
    text-align: right;
    align-self: flex-end;
    font-weight: bold;
    /* background-color: red; */
  }
  .detail {
    text-align: left;
    margin-top: -4em;
    background-color: rgba(229, 226, 226);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 1em;
    /* width: calc(100% - 4em); */
  }
  .banner-image {
    display: block;
    height: 300px;
    /* width: 100%; */
    background-image: url(../image/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .menu-items {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1em;
    padding: 1em;
    height: 48px;
    animation: fadeIn 3s linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes stretchLeft {
    0% {
      width: 0;
    }
    100% {
      width: 20%;
    }
  }

  @keyframes shrinkRight {
    0% {
      width: 20%;
    }
    100% {
      width: 0;
      display: none;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      margin-top: 3em;
    }
    100% {
      opacity: 1;
      margin-top: 1em;
    }
  }
}
